
.nav{
    
        display: flex;
        flex-flow:row wrap;
        background-color: white;
        
        justify-content: space-between ;
        padding: 10px 20px;
        color: blue;
        padding: 5px;
        /* border: 2px solid blue; */
        /* text-underline-offset:none ; */
        /* position: absolute */
        
       

    
    
}
#para{
    display: inline;
    color: black;
}
.p1{
    width: 100px;
    height: 500;
    align-self: stretch;
    background-color: #777777;


}
#bt{
    background-color: blue;
    color: white;
}
.form{
    display: flex;

}